.pokedex {
    border: 1px solid #ccc;
}
.name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.tipo{
    background-color: coral;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.numero{
    color: gray;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}
.tipo2{
    background-color: rgb(25, 29, 238);
    color: white;
    text-align: center;
    border-radius: 10px;
}