.stats {
    height: 150px;
    background-color: rgb(83, 81, 81);
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

.viewpokemon {
    display: flex;
    align-items: center;
}

.descricao {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.info {
    width: 100%;
    background-color: rgb(33, 175, 241);
    border-radius: 15px;
    padding: 15px;
}

.info .descricao {
    font-size: 25px;
    font-weight: normal;
}

.info .titulo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.info .descricao2 {
    font-size: 30px;
    font-weight: bold;
}

.tipo_blue {
    background-color: rgb(42, 107, 228);
    padding: 2px 20px 5px 20px;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    margin-right: 10px;
}

.type {
    margin-left: 5px;
    margin-top: 20px;
    font-size: 27px;
}

.tipo_green {
    background-color: rgb(152, 224, 93);
    padding: 2px 20px 5px 20px;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    margin-right: 10px;
}

.weaknesses {
    margin-left: 5px;
    margin-top: 20px;
    font-size: 27px;
}

.tipo_yellow {
    background-color: rgb(209, 206, 14);
    padding: 2px 20px 5px 20px;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    margin-right: 10px;
}

.tipo_orange {
    background-color: rgb(243, 163, 72);
    padding: 2px 20px 5px 20px;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    margin-right: 10px;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens {
    background-color: gray;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    align-items: center;
    border: 7px solid white;
    display: flex;
}

.imagens img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.evolucoes {
    background-color: gray;
    margin-top: 50px;
    align-items: center;
    padding: 50px;
}

.titulopokemon {
    font-size: 50px;
}

.numeropokemon {
    font-size: 35px;
    color: gray;
}

.descricaoimagem {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}